In [ ]:
# SQL Alchemy

# psycopg2

In [1]:
import psycopg2 as pg
import pandas as pd

In [2]:
# Credentials
host = 'comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com'
port = 5432
database =  'comunidadedsdb'
username =  'member'
pwd = 'cdspa'

In [6]:
conn = pg.connect( user=username,
                   password=pwd,
                   host=host,
                   port=port,
                   database=database )

# 1.0 Schema Query

In [4]:
cursor = conn.cursor()

query_schema = """
    SELECT nspname
    FROM pg_catalog.pg_namespace
"""

cursor.execute( query_schema )

record = cursor.fetchall()
cursor.close()
conn.close()

# 2.0 Table Query

In [7]:
cursor = conn.cursor()

query_tables = """
    SELECT tablename
    FROM pg_tables
    WHERE schemaname='pa004'
"""

cursor.execute( query_tables )

record = cursor.fetchall()
print( record )

cursor.close()
conn.close()

[('users',), ('vehicle',), ('insurance',)]

# 3.0 Collect Data using Psycopg2

In [17]:
cursor = conn.cursor()

query_tables_users = """
    SELECT *
    FROM pa004.users u
    WHERE u.age > 44
    LIMIT 10
"""

cursor.execute( query_tables_users )

record = cursor.fetchall()
print( record )

cursor.close()
conn.close()

[(2, 'Male', 76, 3.0, 26.0), (3, 'Male', 47, 28.0, 26.0), (8, 'Female', 56, 28.0, 26.0), (11, 'Female', 47, 35.0, 124.0), (14, 'Male', 76, 28.0, 13.0), (15, 'Male', 71, 28.0, 30.0), (20, 'Female', 60, 33.0, 124.0), (21, 'Male', 65, 28.0, 124.0), (22, 'Male', 49, 28.0, 124.0), (27, 'Female', 51, 28.0, 124.0)]

# 3.0 Collect Data using Pandas

In [10]:
import pandas.io.sql as psql

In [11]:
cursor = conn.cursor()

query_tables_users = """
    SELECT *
    FROM pa004.users u LEFT JOIN pa004.vehicle v ON ( u.id = v.id )
                       LEFT JOIN pa004.insurance i ON ( u.id = i.id )
    WHERE u.age > 44
    limit 10
"""

df = psql.read_sql( query_tables_users, conn )
df.head()

/opt/anaconda/envs/health-insurance/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,gender,age,region_code,policy_sales_channel,id,driving_license,vehicle_age,vehicle_damage,id,previously_insured,annual_premium,vintage,response
0,27,Female,51,28.0,124.0,27,1,1-2 Year,Yes,27,0,38341.0,49,1
1,15514,Male,50,17.0,124.0,15514,1,1-2 Year,Yes,15514,0,40338.0,192,0
2,15532,Male,46,41.0,26.0,15532,1,1-2 Year,Yes,15532,0,38519.0,156,0
3,15556,Male,48,41.0,124.0,15556,1,1-2 Year,Yes,15556,0,33341.0,212,0
4,15561,Male,68,46.0,26.0,15561,1,1-2 Year,No,15561,1,29675.0,156,0

In [12]:
df1 = pd.read_sql( query_tables_users, conn )
df1 = df.drop( df1.columns[[5, 9]], axis= 1 ) 
df1.head()

/opt/anaconda/envs/health-insurance/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,response
0,Female,51,28.0,124.0,1,1-2 Year,Yes,0,38341.0,49,1
1,Male,50,17.0,124.0,1,1-2 Year,Yes,0,40338.0,192,0
2,Male,46,41.0,26.0,1,1-2 Year,Yes,0,38519.0,156,0
3,Male,48,41.0,124.0,1,1-2 Year,Yes,0,33341.0,212,0
4,Male,68,46.0,26.0,1,1-2 Year,No,1,29675.0,156,0